*{
    box-sizing: border-box;
}
.main{
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    max-height: 600px;
    background-color: rgb(224, 225, 226);
    overflow: auto;
}
.card{
    display: inline-block;
    max-width: 400px;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(235, 194, 105);
}