* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.main{
    background-color: #5a5959;
    color: white; 
    margin-bottom: 0;
}
.square{
    width: 100px;
    height: 100px;
    background-color: rgb(235, 61, 75);
}
.colortext{
    color: rgb(233, 126, 224);
}
.elements{
    margin-top: 0;
    width: 300px;
    background-color: rgb(215, 157, 241);
}
.elements span{
    background-color: rgb(114, 27, 148);
    color: white;
}

