:root {
    --title-text: #1F1711;
    --accent-color: #FFA55C;
    --accent-bg: #FFE0CB;
    --footer-bg: #AB8261;
    --footer-text: #FFF9F4;
}

.body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #312c27;
    background-color: #FFF9F4;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 100px;
    display: flex;
    height: 62px;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    transition: all 0.5s;
}
.button:hover{
    background-color: #FF9138;
    
}

.body--opened-menu{
    overflow: hidden;
}

.body--opened-modal{
    overflow: hidden;
}


.modal {
    padding: 0 10px;
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000048;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
    
}
.modal__window {
    max-width: 428px;
    position: relative;
    background-color: var(--footer-text);
    border-radius: 20px;
    padding: 0 60px 60px;
}
.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal__cancel path {
    transition: 0.4s;
    
}
.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
    
}
.modal__img {
    padding-left: 13px;
    margin-bottom: 15px;
    margin-top: -65px;
}
.modal__title{
    color: var(--title-text);
font-family: Gabriola;
font-size: 42px;
font-weight: 400;
line-height: .9;
margin-bottom: 10px;

}
.modal__text {
    margin-bottom: 30px;
}
.modal__label{
    position: relative;
}

.modal__label span{
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A; 
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.modal__form {

}
.modal__input {
    display: block;
    width: 100%;
    border: 1px solid rgb(172, 144, 122);
border-radius: 100px;
padding: 19px 42px 19px 28px;
background: #00000000;
font-size: 16px;
margin-bottom: 10px;
transition: .4s;
}
.modal__input:hover {
    border-color: var(--accent-color);
}
.modal__input::placeholder {
    color: #AC907A;
transition: .4s;
}
.modal__input:hover::placeholder {
    color: var(--accent-color);
}
.button--modal { 
    width: 100%;
}
.modal__input:focus{
    padding: 26px 42px 12px 28px;
}
.modal__input:focus + span{
    opacity: 1;
    visibility: visible;
}


/* ======================== ==================================== */
.header {
    
    background: url(../img/headerback.png) 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container {}

.header__logo {
    max-width: 173px;
    z-index: 11;
}

.nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {
position: relative;
z-index: 2;
}
.nav__item::before {
    content: '';
    background-color: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    top: -13px;
    left: -13px;
    opacity: 0;
    transition: all 0.5s;
}
.nav__item:hover::before {
    opacity: 1;
}

.nav__link:hover::before {
    opacity: 1;
}



.hero {
    padding: 55px 0 140px;
}

.container {}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text {
    display: block;
    max-width: 519px;
    /* max-height: 372px; */
}

.hero__date {
    color: #b197b3;
    line-height: 1.6;
    letter-spacing: 0%;
    text-transform: uppercase;
    display: flex;

}

.hero__date span {
    display: flex;
    align-items: center;
}

.hero__date span::after {
    content: '';
    background-color: #b197b3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__date span:last-child:after {
    display: none;
}

.hero__title {
    font-family: 'Gabriola', 'Times New Roman', Times, serif;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    letter-spacing: 0px;
    color: var(--title-text);
    margin-top: 20px;
    margin-bottom: 30px;
}

.hero__p {
    max-width: 358px;
    margin-bottom: 40px;
}

.hero__button{
    max-width: 358px;
    width: 100%;
}

.hero__video {
    margin-right: 247px;
    position: relative;
}

.hero__img {
    width: 100%;
}
.hero__play{    
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    text-align: left;

    /* display: flex;
    gap: 10px;
    position: absolute;
    transform: translateX(169%) translateY(-159%);
    align-items: center;
    max-width: 200px; */
}


.hero__link-video{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE0CB ;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    position: relative;
}
.hero__link-video::before{
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    inset: 5px;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hero__link-video:hover::before{
    opacity: 1;
}
.hero__link-video img{
    padding-left: 7%;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--title-text);
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}
.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}
.hero__play--mobile{
    display: none;
}
/* ========================================================================== */
/* ========================================================================== */
/* ==============================MAIN============================================ */

.short{
    padding: 140px 0;
}
.short__inner{
    display: flex;
    gap: 53px;
}
.short__activ{
    position: relative;
}
.short__img{
    border-radius: 20px;
    max-width: 603px;
    
}
.short__button {
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: var(--footer-text);
    max-width: 299px;
    max-height: 108px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    background-color: #957B97E6;
    border-radius: 15px;
}
.short__link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-text);
    width: 78px;
    height: 78px;
    border-radius: 100%;
    flex-shrink: 0;
    position: relative;
}
.short__link::before{
    content: '';
    position: absolute;
    border: 1px solid rgb(206, 170, 208);
    border-radius: 100%;
    inset: 5px;
    opacity: 0;
    transition: all 0.5s;
}
.short__link:hover:before{
    opacity: 1;
}
.short__text h2{
    font-family: Gabriola;
font-size: 74px;
font-weight: 400;
line-height: 82%;
letter-spacing: 0%;
color:var(--title-text);
}
.short__text p {
    margin: 30px 0 40px;
}
.short__advantages{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 32px;
}
.short__edge {
    display: flex;
    align-items: center;
    background-color: #FFE0CB;
    gap: 15px;
    padding: 29px 23.5px 29px 24.5px;
    border-radius: 20px;
}
/* ========================================================== */

.prog {
    padding-bottom: 145px;
}
.prog__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.prog__heading {
    
}
.prog__title {
    font-family: Gabriola;
font-size: 74px;
font-weight: 400;
line-height: 82%;
letter-spacing: 0%;
color: var(--title-text);
margin-bottom: 20px;
}
.prog__text {

}
.tab {
    display: flex;
    align-items: end;
    gap: 26.33px;
    flex-wrap: wrap;
}
.tab__item {

}
.tab__link {
    display: block;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    border-radius: 100px;
    padding: 14px 30px;

    transition: all .4s;
}
.tab__link:hover {
    background-color: #FFE0CB;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    
}
/* ============ */
.prog__tab-content {

display: none;
}
/* ============ */
.tab__conrol--active{
    background-color: #FFE0CB;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
}
.prog__tab-content--show{
    display: block;
}
.prog__tab{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordion-list {
}
.accordion-list__item {
    margin-bottom: 30px;
    border: 1px solid rgb(255, 165, 92);
border-radius: 20px;

background: rgb(255, 249, 244);
}
.accordion-list__item:last-child {
    margin-bottom: 0px;
}
.accordion-list__item--opened {
}
.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    font-size: inherit;
    
}
.accordion-list__control-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-list__control-icon--bordered{
    border: 1.5px solid rgb(255, 165, 92);
    border-radius: 100%;
    display: flex;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.accordion-list__control-icon--bordered path{
    transition: .4s;
}
.accordion-list__control:hover .accordion-list__control-icon--bordered{
    background-color: var(--accent-color);
    transform: rotate(90deg);
}
.accordion-list__control:hover .accordion-list__control-icon--bordered path{
    fill: var(--footer-text);
}
.accordion-list__item--opened .accordion-list__control-icon--bordered{
    background-color: var(--accent-color);
    transform: rotate(90deg);
}
.accordion-list__item--opened .accordion-list__control-icon--bordered path{
    fill: var(--footer-text);
}



.accordion-list__control-title {
    color: var(--title-text);
font-family: Gabriola;
font-size: 42px;

line-height: 90%;
letter-spacing: 0%;

}
.accordion-list__content {
    max-height: 0px;
    overflow: hidden;
    transition: .4s;
}
.accordion-list__item--opened .accordion-list__content {
    
}
.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;

}
.accordion-content__col {
    display: flex;
    flex-direction: column;
    max-width: 507px;
    width: 100%;
}
.accordion-content__col2 {
    max-width: 274px;
    width: 100%;
}
.accordion-content__title {
    color: rgb(206, 170, 208);
line-height: 160%;
letter-spacing: 0%;
text-transform: uppercase;
margin-bottom: 20px;
}
.accordion-content__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion-content__item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.accordion-content__icon {
}
.accordion-content__text {
}

.prog__bot {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.prog__text--side{
    display: flex;
    gap: 40px;
}
.prog__price {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 501px;
}
.prog__sell {
    position: relative;
    border-radius: 20px;
    background: #FFE0CB;
    max-height: 232px;
    display: flex;
    flex-direction: column;
    max-width: 287px;
    width: 100%;
    padding: 40px 81px 40px 40px;
}

.prog__time {
    font-size: 20px;

}
.prog__percent {
    color: var(--accent-color);
text-align: center;
font-family: Gabriola;
font-size: 74px;
line-height: 82%;
margin-left: 31px;

animation: percent__grow 1s infinite alternate;
}

@keyframes percent__grow {
0%{
    transform: scale(1);
    color: var(--accent-color);
}
100%{
    transform:  scale(1.2);
    color: #FF9138;
}
}
.prog__date {
    margin-left: 85px;
}

.prog__cost {
    
}
.prog__cost h6 {
    color:  #CEAAD0;
    line-height: 160%; 
    text-transform: uppercase;
}
.second {
    margin-bottom: 40px;
    color: #312C27;
    font-family: Gabriola;
    font-size: 32px;
    line-height: 90%;
}
.prog__cost>span {
    display: block;
    
}
.first{
    color:  #1F1711;
font-family: Gabriola;
font-size: 50px;
line-height: 90%;
}
.prog__img img{
    width: 100%;
}

/* ========================================================================== */


.gallery {
    padding-bottom: 140px;
}
.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}
.gallery__img{
    justify-self: center;
}
.gallery__img img{
    width: 100%;
    
}
.gallery__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: end;
}
.gallery__info {
    max-width: 380px;
}
.gallery__title {
    color: var(--title-text);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%; 
    margin-bottom: 20px;
}
.gallery__text {
}
.gallery__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}
.gallery__prev,
.gallery__next {
    cursor: pointer;
    background: transparent;
    transition: .4s;

    

}

.gallery__next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1.5px solid rgb(255, 165, 92);
border-radius: 100px;
flex-shrink: 0;
}
.gallery__next:hover{
    background: var(--accent-color);
    width: 36px;
height: 36px;
border-radius: 100%;
}


.gallery__next:hover path{
    
    fill: var(--footer-text);
}
.gallery__pagination {
    font-family: Gabriola;
    font-size: 42px;
    line-height: 90%;
    width: 54px;
    
    
}
.gallery__next {
}
.gallery__slider {
    
}
.swiper {
}
.gallery__wrapper img {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
.gallery__slide {
}

/* =================================================== */
.feedback {
    padding-bottom: 140px;
}

.feedback__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: flex-end;
}
.feedback__title {
    color: var(--title-text);
font-family: Gabriola;
font-size: 74px;
line-height: 82%; 
margin-bottom: 20px;
}
.feedback__info{
    max-width: 632px;
    width: 100%;
}
.feedbaCK__text {
    
}
.feedback__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.feedback__prev {
    transform: rotate(180deg);
}
.feedback__next,
.feedback__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: var(--accent-color) solid 1.5px;
    flex-shrink: 0;
    transition: .4s;
}

.feedback__next:hover,
.feedback__prev:hover {
    background-color: var(--accent-color);
    
}
.feedback__next:hover path,
.feedback__prev:hover path {
    fill: var(--footer-text);
}
.feedback__swiper-slide.swiper-slide{
    transform: scale(.9);
    transform: .5s;
    opacity: 0;
}

.swiper-slide-prev.feedback__swiper-slide{
    opacity: 0.5;
}
.swiper-slide-next.feedback__swiper-slide{
    opacity: 0.5;
}

.swiper-slide-active.feedback__swiper-slide {
    transform: scale(1);
    opacity: 1;
}

.feedback__block {
    max-width: 624px;
    
    width: 100%;    
    border-radius: 20px;
    background: #FFE0CB;
    padding: 30px 30px 40px 30px;
    display: flex;
    gap: 30px;
}
.feedback__swiper-wrapper, .swiper-wrapper{
    max-width: 624px;
    width: 100%;
}
.feedbacl__human {
}
.feedback__photo {
    margin-bottom: 20px;
    
}
.feedback__photo img {
    max-width: 165px;
    max-height: 165px;
    border-radius: 20px;
}
.feedback__contact { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback__name {
    line-height: 160%; 
text-transform: uppercase;
}
.feedback__inst {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--2, #CEAAD0);
    margin-bottom: 53px;    
}
.feedback__review {
}
.feedback__slog {
    font-family: Gabriola;
font-size: 32px;
line-height: 90%; 
color: var(--title-text);
margin-bottom: 10px;
}
.feedback__letter {
    display: block;
}
.feedback__swiper-scrollbar .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    margin-top: 42px;
    position: static;
    background: var(--, #FFE0CB);
    width: 100%;
    height: 7px;
}
.swiper-scrollbar-drag{
    background: var(--accent-color);
}

/* ========================================================================== */

.contact {
    padding-top: 123px;
    padding-bottom: 140px;
    background: url(../img/footerback.png) 50% 0% / cover no-repeat;
}

.contact__inner {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 84px;
}
.contact__img {
    max-width: 579px;
    max-height: 526px;
}
.contact__img img {
    width: 100%;
}
.contact__berrie {
    position: absolute;
    top: 45px;
    right: 29px;
}
.contact__info {
    
    right: 204px;
    top: 140px;
    max-width: 420px;
    max-height: 506px;
    width: 100%;
    height: 100%;
}
.rights{
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}
.contact__title {
    color: var(--title-text);
    font-family: Gabriola;
    font-size: 74px;
    line-height: 82%; 
    margin-bottom: 20px;
}
.contact__text {
    
    margin-bottom: 40px;
}
.contact__form{
    margin-bottom: 10px;
}
.contact__input {
    margin-bottom: 20px;
}
.contact__check{
    margin-bottom: 20px;
}
.contact__button{
    max-width: 420px;
    width: 100%;
}
.contact__input{
    display: block;
    width: 100%;
    border: 1px solid rgb(172, 144, 122);
border-radius: 100px;
padding: 19px 42px 19px 28px;
background: #00000000;
font-size: 16px;
margin-bottom: 10px;
transition: .4s;
}

.contact__input:hover{
    border: 1px solid var(--accent-color);
    

}
.contact__checkbox{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.contact__v{
    appearance: none;
    width: 16px;
height: 16px;
border: 1.5px solid rgb(172, 144, 122);
border-radius: 4px;
flex-shrink: 0;
transition: .4s;
cursor: pointer;
position: relative;
}
.contact__v:hover{
    border-color: var(--accent-color);
}
.contact__v:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.contact__v:checked::before{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    opacity: 1;
}
.contact__v::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(../img/check.svg) 50% 50% no-repeat;
    opacity: 0;
}

/* ========================================================================== */
/* ========================================================================== */
/* ================================FOOTER========================================== */

.footer{
    background-color: var(--footer-bg);
    color: var(--footer-text);
}
.footer__inner{
    display: grid;
    grid-template-columns: 328px 328px 407px 220px;
    padding-bottom: 60px;
}
/* 328px 328px 407px 220px */
.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.footer__logo img {
    max-width: 239px;
    margin-top: 30px;
    margin-bottom: 4px;
}
.footer__socials{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 17.63px
}

.footer__socials a {
    color: var(--footer-text);
    transition: all 0.5s;
}
.footer__socials a:hover{
    color: var(--accent-color);
}
.footer__socials path{
    fill: currentColor;
}

.footer__links{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    margin-top: 60px;
    z-index: 2;
}
.footer__links a{
    position: relative;
}

.footer__links a::before{
    content: '';
    position: absolute;
    display: block;
    background-color: var(--accent-color);
    width: 34px;
    height: 34px;
    border-radius: 100%;
    top: -13px;
    left: -13px;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}
.footer__links a:hover::before{
    
    opacity: 1;
}

.footer__adress{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;  
    margin-top: 60px;
}
.footer__watch{
    display: flex;
    align-items: center;    
}
.footer__watch>span {
    margin: 0 10px 0 10.25px;
}
.footer__location{
    display: flex;
    align-items: center;
    gap: 11.75px;
    padding-left: 1.5px;
}
.footer__number {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.footer__number>span {
    padding-left: 3px;
}
.footer__tel {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 47px;
}
.footer__rights{
    display: flex;
    align-items: center;
    gap: 7.63px;
    padding-left: 11px;
    color: #DEC5B1;
}

/* ========================================================================== */
/* ========================================================================== */
/* ===================================MEDIA======================================= */

@media (max-width: 1300px) {
    .footer__inner {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
    .footer__number{
        grid-column: 1/ -1;
        grid-row: 2;
        text-align: center;
    }
    .footer__rights{
        display: block;
    }
    .footer__links {
        text-align: center;
    }
    .footer__adress{
        justify-self: end;
    }
    /* =========================================================== */
    .short {
        padding: 40px 0;
    }
    .short__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .short__text {
        text-align: center;
    }
    .prog__top{
        flex-direction: column;
        gap: 20px;
    }
    }

@media (max-width: 1300px) {
    .contact__berrie {
        display: none;

    }
}

@media (max-width: 1200px) {
    .hero__play{    
        position: static;
        max-width: none;
        margin-top: 30px;
    }
    .hero__video {
        margin: 0;
        max-width: 377px;
    }
    
}
@media (max-width: 1150px) {
    .prog__text--side{
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--accent-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
    .prog__img {
        display: none;
    }
    .prog__text--side {
        flex-direction: row;
    }
    .prog__heading {
        text-align: center;
    }
    .tab {
        justify-content: center;
    }
    .prog__bot {

        justify-content: center;
    }
    .gallery__img{
        display: none;
    }
    .gallery__inner{
        display: flex;
        justify-content: center;
    }
    .gallery{
        padding-bottom: 40px;
    }
    .prog {
        padding-bottom: 40px;
    }
    .contact__img{
        display: none;
    }
    .contact__inner{
        justify-content: center;
    }
    
}

@media (max-width: 800px){
    .hero__video>img {
        display: none;
    }
    .hero__play {
        display: none;
    }
    .hero__play--mobile {
        display: flex;
        margin: 0 0 30px;
    }
    .hero__text{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        max-width: none;
    }
    .hero__title {
        text-align: center;
    }
    .footer__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__contacts{
        align-items: center;
    }
    .footer__adress {
        align-items: center;
    }
    .feedback__inner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feedback__nav {
        margin-top: 15px;
    }   
    .feedback__title {
        text-align: center;
    }
    .feedback__text {
        text-align: center;
    }
    .feedback__swiper-scrollbar .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .contact__title{
        font-size: 60px;
    }
    .hero__title{
        font-size: 12vw;
    }
    .hero {
        padding-bottom: 80px;
    }
    .short__advantages{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(4, auto);
    }
    .short__img{
        width: 100%;
    }   
    .short__button{
        bottom: 0;
        left: 0;
        max-width: none;
        max-height: 130px;

    }
    .accordion-content{
        gap: 15px;
    }
    .prog__text--side{
        flex-direction: column;
    }
    .gallery__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gallery__pagination{
        font-size: 35px;
    }
    .feedback__block{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .feedback__inst {
        margin-bottom: 0px;
    }
    .feedback{
        padding-bottom: 1px;
    }

    @media (max-width: 400px){
        .modal__window{
            max-width: 310px;
            padding: 0px 10px 71px;
        }
        .modal__img {
            
            margin-bottom: -10px;
            margin-top: -100px;
        }
        .modal__title{
            font-size: 32px;
            text-align: center;
        }
        .modal__text{
            text-align: center;
        }
        .modal__cancel {
            position: absolute;
            top: 42px;
            right: 20px;
        }
        .feedback__inner{
            padding-bottom: 15px;
        }
        .feedback__swiper-scrollbar.swiper-scrollbar{
            display: none   ;
        }
    }
}