nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    padding: 10px;
    
}
.navbar{
    height: 60px;
    background-color: rgb(212, 164, 59);
}
nav a {
    color: black;
} 
.IQ{
    background-color: rgb(240, 213, 182);
}
.last{
    background-color: rgb(137, 30, 141);
    height: 300px;
    color: white;
}
.last a {
    color: white;
}
